<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Student</title>
</head>
<body>
    <h1>Add New Student</h1>
    <form action="/add-student" method="POST">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName"><br><br>
        <label for="code">Code:</label>
        <input type="text" id="code" name="code"><br><br>
        <label for="fieldOfStudies">Field of Studies:</label>
        <input type="text" id="fieldOfStudies" name="fieldOfStudies"><br><br>
        <input type="submit" value="Add student">
    </form>
</body>
</html>
